.container {
  width: 40%;
  margin: 2em auto;
}

.title {
  text-align: center;
  margin: 2em 0;
  font-size: 24px;
}

.button {
  all: unset;
}

.containerButton {
  width: 100%;
  margin: 2em auto;
  text-align: center;
}
